<%= form_for :package, :url => submit_uninstall_packages_mcollective_path() do |f| %>
  <%= f.text_field :name %>
  <span class="label label-warning"><%= _('Warning') %></span>
  <%= _('This might take a while, as install runs on all servers') %>
<% end %>
